@font-face {
    font-family: 'letra0';
    src: url(../assets/fonts/font1\ \(1\).woff2);
}

@font-face {
    font-family: 'letra1';
    src: url(../assets/fonts/font2\ .woff2);
}

@font-face {
    font-family: 'letra2';
    src: url(../assets/fonts/font3.woff2);
}
